{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md", "setup.py", "version.py"],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}",
        "branch": "release/${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "python setup.py sdist bdist_wheel",
        "publishCmd": "twine upload -u __token__ -p $PYPI_TOKEN dist/*"
      }
    ],
    "@semantic-release/github"
  ]
}
